table {
  border: solid 1px seagreen;
}
#h1 {
  background-color: seagreen;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 55px;
  line-height: 75px;
}
tr {
  text-align: center;
  width: 450px;
}
thead {
  font-size: 50px;
  color: white;
  background-color: seagreen;
  width: 750px;
}
#title {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
#foot {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: seagreen;
}
th {
  text-align: left;
}
td {
  font-size: 16px;
  text-align: left;
  line-height: 22px;
}
.column-headline {
  font-weight: bold;
  font-size: 22px;
  text-align: left;
  line-height: 56px;
}
#left {
  width: 200px;
}
 #center {
  width: 250px;
}
#right {
  width: 300px;
}

tfoot {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-style: italic;
  }
  
